.partners{
    min-height: 100%;
    max-width: 1200px;
    width: 100%;
    padding: 8px;

    &--title {
        @include flex();
        padding: 8px;
    }

    &--head {
        display: flex;
        padding: 8px;
        justify-content: space-around;

        input{
            width: 200px;
        }
    }

    &--list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .partners-row{
            
            width: 320px;

            &--card{
                @include component();
                display: flex;
                font-size: 10px;
                justify-content: space-between;
                min-height: 70px;
                margin-bottom: 4px;
            }
            &--title {
                padding: 8px;
                width: 240px;
                user-select: none;
                h3{
                    font-size: 14px;
                }
            }

            &--info {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                

                .partners-row--infoBtn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 4px;
                    height: 100%;

                        button {
                            width: 40px;
                            font-size: 12px;
                            border-radius: 3px;
                            box-shadow:  2px 2px 2px #b3b3b3, -2px -2px 2px #ffffff;
                        }
                }
            }

            &--numbers {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;        
                width: 30px;
            }
        }        

        .contract-row{
                @include component();
                font-size: 10px;
                margin-bottom: 8px;
                padding: 8px;
                background: $bg-contract;

            &--card {
                display: flex;
                justify-content: space-between;
            }
         &--title {
                h4 {
                    font-size: 12px;
                    font-weight: 600;
                }
                h3{
                    font-size: 14px;
                    font-weight: 600;
                    color: $color-place
                }

            }
            &--info {
                display: flex;
                padding-top: 4px;
                gap: 4px;
                justify-content: space-between;
                align-items: center;
            }

            &--infoBtn{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                    button {
                        width: 40px;
                        font-size: 12px;
                        border-radius: 3px;
                        box-shadow:  2px 2px 2px #b3b3b3, -2px -2px 2px #ffffff;
                    }
            }
&--numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;        
    width: 30px;
    margin-bottom: 16px;
}
   
        }
        .addendum-row{
            @include component();
            font-size: 10px;
            margin-bottom: 4px;
            padding: 8px;
            background: $bg-addendum;

            &--card {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
            }
            
            &--title {
                h4 {
                    font-size: 12px;
                    font-weight: 600;
                }
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    color: $color-place;
                }
            }

            &--info {
                display: flex;
                padding-top: 4px;
                gap: 4px;
                justify-content: space-between;
                align-items: center;
            }

            &--infoBtn{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding-bottom: 4px;

                    button {
                        width: 40px;
                        font-size: 12px;
                        border-radius: 3px;
                        box-shadow:  2px 2px 2px #b3b3b3, -2px -2px 2px #ffffff;
                    }
            }

            &--numbers {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 8px 0px 8px;        
                width: 30px;
            }
        }

        .other-docs-row{
            background: $bg-other-doc;
            display: flex;
            justify-content: space-between;
        }
    }

    .partner-form {
        @include component();
        position: absolute;
        top: 10%;
        right: 35%;
        background: #E9EDF0;

        &--container {
            width: 340px;
            padding: 8px;
            margin-top: 20px;
        }

        &--input{
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;

            &-name {
                text-align: center;
            }

            label {
                font-size: 12px;
            }

            input {
                width: 180px;
            }

            textarea {
                width: 180px;
            }
            
        }

        &--error {
            color: $color-error;
            height: 20px;
            width: 100%;
        }
    }
}