.customButton {
@include button();
    padding: 0.5rem;
    font-size: 0.8rem;
}

.customButton:hover {
    border: 2px solid #f0f0f0;
}
.customButton:active {
    box-shadow: $button-box-shadow_active;
}

.custom-close-button {
    position: absolute;
    top: 0px;
    right: 4px;
    padding: 4px;
}