input {
    background: white;
    width: 100px;
    height: 24px;
    text-align: center;
    box-shadow: $input-box-shadow;
    border-radius: 10px;
    font-size: 12px;
}

textarea {
    background: white;
    width: 100px;
    box-shadow: $input-box-shadow;
    border-radius: 10px;
    font-size: 10px;
    padding: 4px;
}

textarea::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.customButton {
@include button();
    padding: 0.5rem;
    font-size: 0.8rem;
}

.customButton:hover {
    background: #f2f2f2;
}

.customButton:active {
    box-shadow: $button-box-shadow_active;
}

.custom-close-button {
    position: absolute;
    top: 0px;
    right: 4px;
    padding: 4px;
}